# general
.DS_Store

# R ignore
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.Rcheck/
.Rproj.user/
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron

# Python ignore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
